<ul>
  <li>
    <a routerLink="/">base</a>
  </li>
  <li>
    <a routerLink="/subone/home">subone/home link跳转</a>
  </li>
  <li>
    <a routerLink="/subone/about">subone/about link跳转</a>
  </li>
  <li>
    <a (click)="to('subone/home')">subone/home router跳转</a>
  </li>
  <li>
    <a (click)="to('subone/about')">subone/about router跳转</a>
  </li>
  <li>
    <a routerLink="/subtwo/home">subtwo/home link跳转</a>
  </li>
  <li>
    <a routerLink="/subtwo/about">subtwo/about link跳转</a>
  </li>
  <li>
    <a (click)="to('subtwo/home')">subtwo/home router跳转</a>
  </li>
  <li>
    <a (click)="to('subtwo/about')">subtwo/about router跳转</a>
  </li>
</ul>
<div id="test"></div>
